<h1>Creación de usuarios</h1>
<p>Find me in app/views/usuarios/new.html.erb</p>

<%=  form_for :usuario, url: usuarios_path do |f| %>
	<%= f.label :nombre%>
	<%= f.text_field :nombre%>

	<%= f.label :apellido %>
	<%= f.text_field :apellido%>

	<%= f.label :correo%>
	<%= f.text_field :correo%>

	<%= f.submit %>
<% end %>
